html,
body {
  background-color: #F8F8F8;
  color: #101010;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
  line-height: 130%;
}

.intro>h1 {
  font-size: 70px;

}

p,
div {
  font-family: 'Source Code Pro', monospace;
  font-size: large;
  font-weight: 400;
  line-height: 200%;
}



.intro {
  background-image: linear-gradient(135deg, #f77b7b, #ae1480);
  padding-bottom: 30px;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 200px;
  padding-bottom: 50px;
  border-bottom: 1px solid #484848;
}

.blogs {
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 100px;

}

.blog {
  background-color: white;
  padding: 20px;
  border: 1px solid gray;
  margin-bottom: 25px;
  transition: all 0.15s ease;
}

.blog:hover {
  background-color: #ffa4a4;
}

a {
  text-decoration: none;
  color: black;
}

/** background colour for big screens**/
@media only screen and (max-width: 1200px) {
  .intro {
    background-image: linear-gradient(135deg, #E55D87, #5fc3e4);

  }
}

/** for tablet**/
@media only screen and (max-width: 768px) {
  .intro>h1 {
    font-size: 50px;

  }

  .intro {
    background-image: linear-gradient(135deg, #85d8b8, #005887);
    padding-bottom: 20px;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 125px;
    padding-bottom: 40px;
  }

  .blogs {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 50px;

  }

  .blog {
    padding: 15px;
  }

  .blog:hover {
    background-color: #accbe4;
  }

  p,
  div {
    font-size: medium;
  }
}

/** for phone**/
@media only screen and (max-width: 320px) {
  .intro>h1 {
    font-size: 30px;

  }

  .intro {
    background-image: linear-gradient(135deg, #ff512f, #dd2476);
    padding-bottom: 15px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 75px;
    padding-bottom: 20px;

  }

  .blogs {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 30px;

  }

  .blog {
    padding: 10px;
  }

  p,
  div {
    font-size: small;
  }
}