body {
  background-color: #F8F8F8;
}

.title {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid #D0D0D0;
}

.content {
  background-color: white;
  margin: 20px 100px 20px;
  padding: 20px 40px 20px;
  border: 1px solid #D0D0D0;
}